h1 {
  font-family: arial;
  color: dimgray;
}

body {
  font-family: arial;
  margin: 30px;
}

canvas {
  height: 240px;
  width: 320px;
  border: 1px solid lightgray;
}

input {
  font-size: 14pt;
}

image {
  height: 600px;
  width: 600px;
}

input[type="file"] {
  background: red;
}
